@import "tailwindcss";

@theme {
  --font-arial-black: "Arial Black", "Arial", sans-serif;
  --color-brand-red: #CE2B37;
}

html,
body {
  /* width: 1920px;
  height: 1080px; */
  width: 100vw;
  height: 100vh;
  /* width: 1080px;
  height: 720px; */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: black;
}

#root {
  width: 100%;
  height: 100%;
}