@import "tailwindcss";

@theme {
  --font-arial-black: "Arial Black", "Arial", sans-serif;
  --color-brand-red: #CE2B37;

  --text-tiny: 0.5rem;
  --text-tiny--line-height: 0em;
  --text-tiny--letter-spacing: 0rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}